body {

    background-image: url("loginbg.jpg");
    background-size: cover;
    /* This will make the background image cover the entire container */
    background-position: center;
    padding-top: 100px;
}

.box {
    background-color: rgb(66, 53, 53);
    height: 500px;


}

form {
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 50px;
}

h2 {
    color: white
}

.inp {
    height: 50px;
}

.btn {
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.signup {
    margin-top: 20px;
    padding-top: 5px;
    border: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: black;
}

p {
    color: rgb(234, 227, 227)
}